<script type="text/javascript">
        var lat=13.0456
        var lon=80.232
        var zoom=12
        var iconSize = new OpenLayers.Size(22,22);
        var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
        var icon = new OpenLayers.Icon("images/poi/bus_stop_22.png",iconSize,iconOffset);
        var map;
        function init() {
 
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
            layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Chennai");
            layerStages = new OpenLayers.Layer.Markers("Stages");
            map.addLayer(layerMapnik);
            map.addLayer(layerStages);
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            map.setCenter (lonLat, zoom);
            $.getJSON('api/all_stages.json', function(data){
                jQuery.each(data, function(){
                var ss = new OpenLayers.LonLat(this['stage']['longitude'],this['stage']['latitude']).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
                var marker = new OpenLayers.Marker(ss,icon.clone());
                var id = this['stage']['id'];
                marker.events.register("click", marker, function(e){
                    window.location="stage/" + id; });
                layerStages.addMarker(marker);
                });
            });
        }
</script>
<table id="outer">
  <tbody>
    <tr>
      <td width="30%"><p><strong>Chennai Bus Routes</strong> lets you search the routes of the <a href="http://en.wikipedia.org/wiki/Metropolitan_Transport_Corporation">MTC</a> buses running in the city of <a href="http://en.wikipedia.org/wiki/Chennai">Chennai</a>.
          Unlike the <a href="http://www.mtcbus.org">official site</a>, we also tell you where you
          can change buses if there are no direct buses to where you want to go.</p>
        <p>To get started, <strong>fill in your start and destination bus stops</strong>. 
          You can also just enter one stop name to get a list of buses that go to that stop.</p>
        <p>Type in a part of the stop name and pick from the drop-down
          list that appears.</p>
      <div id="route_form">
        <% form_for :journey do |f| -%> <!-- Change to appropriate location when latter is ready -->
          <p><%= label_tag 'From' %><br /><%= f.text_field :from %></p>
          <p><%= label_tag 'To' %><br /><%= f.text_field :to %></p>
	  <p><%= label_tag 'Route' %><br /><%= f.text_field :route %></p>
          <%= submit_tag 'Go!' %>
        <% end -%>
      </div>
      </td>
      <td width="70%"><div id="map"></div></td>
    </tr>
  </tbody>
</table>